<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}Venue Booking{% endblock %}</title>

<script src="https://cdn.tailwindcss.com"></script>

<script>
tailwind.config = {
  theme: {
    extend: {
      colors: {
        primary: '#1a56db',
        accent: '#6d28d9',
        sidebar: '#1f2937',
        bgsoft: '#f3f4f6'
      }
    }
  }
}
</script>

</head>

<body class="bg-bgsoft text-gray-800">

<div class="flex min-h-screen">

    <!-- SIDEBAR -->
    <aside class="w-64 bg-sidebar text-white p-5 hidden md:block">

        <h1 class="text-xl font-bold mb-8">Venue System</h1>

        <nav class="space-y-4 text-sm">
            <a href="/" class="block text-white">Dashboard</a>
            <a href="#" class="block text-gray-400 hover:text-white">Book Venue</a>
            <a href="#" class="block text-gray-400 hover:text-white">My Bookings</a>
        </nav>

    </aside>

    <!-- MAIN -->
    <div class="flex-1">

        <!-- TOPBAR -->
        <header class="bg-white border-b px-6 py-4 flex justify-between items-center">

            <h2 class="text-lg font-semibold text-gray-700">
                {% block subtitle %}{% endblock %}
            </h2>

            <div class="flex items-center gap-4">

                {% if session.get('user') %}
                    <span class="text-sm text-gray-600">{{ session['user'] }}</span>

                    <a href="/logout"
                       class="bg-accent text-white px-4 py-2 rounded-lg hover:bg-violet-800">
                        Logout
                    </a>
                {% else %}
                    <a href="/login" class="text-primary font-medium hover:bg-violet-800">
                        Login
                    </a>

                    <a href="/signup"
                       class="bg-primary text-white px-4 py-2 rounded-lg">
                        Sign Up
                    </a>
                {% endif %}

            </div>

        </header>

        <!-- CONTENT -->
        <main class="p-6">
            {% block content %}{% endblock %}
        </main>

    </div>

</div>

{% block extra_js %}{% endblock %}

</body>
</html>