<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sign Up</title>

<script src="https://cdn.tailwindcss.com"></script>

<script>
tailwind.config = {
  theme: {
    extend: {
      colors: {
        primary: '#1a56db',
        accent: '#6d28d9',
        bgsoft: '#f3f4f6'
      }
    }
  }
}
</script>

</head>

<body class="bg-bgsoft flex items-center justify-center min-h-screen px-4">

<div class="bg-white border border-gray-200 rounded-xl shadow-md p-6 sm:p-8 w-full max-w-md mx-4">


    <h2 class="text-2xl font-bold text-center mb-6">Create Account</h2>

    <form method="POST">

        <input type="text" name="name" placeholder="Full Name"
            class="w-full p-3 mb-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary">

        <input type="email" name="email" placeholder="Email"
            class="w-full p-3 mb-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary">

        <input type="password" name="password" placeholder="Password"
            class="w-full p-3 mb-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary">

        <button class="w-full bg-primary text-white py-3 rounded-lg hover:bg-violet-800">
            Sign Up
        </button>

    </form>

    <p class="text-center mt-4 text-sm">
        <a href="/login" class="text-primary hover:underline">Login</a>
    </p>

</div>

</body>
</html>